
<!-- 
    Timothy Hu
    This is a web page class that brings you to the home page and sends you over to generate a certain category and its questions. 
-->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jeopardy</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/output.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/landing.css') }}">
</head>

<body>

    <div class="flex flex-col justify-center items-center mt-12">
        <p class="font-bold text-3xl mb-12">Welcome to the Jeopardy Helper!</p>
        <img src="../static/img/jeopardy.jpeg" alt="" style="width: 30em;" class="mb-12">
        <a href="/randomCategory"><button class="home-button">Click To Start!</button></a>
    </div>

</body>

</html>